/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right, .dropbtn {
    display: none;
    height: 70px;
  }
  
  .menu-icon, .dropdown{
    margin-top: 0;
    display: block;
    color: white;
    float: right;
    font-size: 21px;
  }

  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropbtn{
    display: block;
    float: right;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 20px; 
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    top : 60px;
    z-index: 1;
  }

  .dropdown-content a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


}