html {
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0;
  font-family: 'ubuntu', sans-serif;
  overflow-x: hidden;
  position: relative;
}

/*Header*/
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

#heading{
  background-color: transparent;
}

header {
  padding-top: 20px;
  height: 70px;
  width: 100%;
  position :fixed;
  z-index: 10;
  font-weight: bold;
}

.logo {
  width: 124px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
  font-weight: bold;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon,{
  display: none;
  color: transparent;
  float: right;
}

.dropbtn, .dropdown{
  display: none;
}

/*TAB MAINPAGE*/
.tabMainpage {
  background-image: url(./Assets/BackgroundMainpage.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  padding-top : 120px;
  padding-bottom: 50px;
  height: 500px;  
}

.tabMainpage h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  padding-top: 12%;
}

.tabMainpage h2{
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  position: center;
}

.tabMainpage p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.Arrow{
  position: relative;
  animation: myfirst 5s linear 1s infinite alternate;
}

@keyframes myfirst {
  0%   {color:red; bottom:0px; top:0px;}
  50%  {color:blue; bottom:50px; top:50px;}
  100% {color:red; bottom:0px; top:0px;}
}



/*TAB ABOUT*/
.tabAbout {
  background-image: url(./Assets/BackgroundAbout.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 500px;  
  padding-top : 120px;
  padding-bottom: 50px;  
}

/*TAB CONTACT*/
.tabContact {
  background-image: url(./Assets/BackgroundContact.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 500px;  
  padding-top : 120px;
  padding-bottom: 50px;
  color:white;
  font-weight: bold;
}



/*FOOTER*/
footer {
  background-size: 100% 100%;
  font-size: 14px;
  text-align:center;
  background-color: rgb(172,185,202);
  color : white;
  height: 25px;
  padding: 15px;
  font-weight: bold;
}